
// -------------HOME -PAGE -------------------
.headerBlock {
  max-width: 1200px;
  @apply mx-auto p-5 text-xl text-slate-800;
}



.headerBlockNav {
  max-width: 1280px;
  @apply flex justify-between;
}

.header {
  @apply flex items-center;
}

.headerTitle {
  @apply mr-2 font-medium;
}

.burgerButton {
  margin-left: auto;
}

.headerLogoImg{
    width: 35px;
    height: 34px;
}
.headerUl{
    @apply flex
}
.headerLink{
    @apply mr-5
}
.headerUl li:last-child .headerLink{
  @apply mr-0
}

.headerHomeTitle{
    @apply text-2xl font-medium mx-3 flex justify-center;
    border-bottom: 3px black solid ;

}


.headerHomelink,
.headerUserlink,
.headerExerciseLink,
.headerQuizLick,
.headerHelp{
    @apply text-xl font-medium mx-3 ;
    border-bottom: 3px black solid ;
}
.headerHomelink:hover,
.headerUserlink:hover,
.headerExerciseLink:hover,
.headerQuizLick:hover,
.headerHelp:hover{
    color: #5858c3;
    border-bottom: 3px #5858c3 solid ;

}


// ------------homePageBlock---------------
    .wrapper{
    background-image: url('../../public/MainPage/bgMainPage.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
}
.homePageBlock{
    max-width: 1200px;
    @apply   mx-auto
}
.homePageImg{
    @apply flex justify-center;
}
.pageImg{
    background-repeat: no-repeat;
    background-position: center;
    @apply   px-10
}
.homePageLearnBlock{
    background-color: #FFD18B;
    @apply p-5  rounded-xl shadow-2xl 
}
.learnHeadBlock{
    @apply flex justify-between items-center mb-5 border-b-4 pb-3
}
.headCoinBlock{
    @apply flex text-xl 
}
.headCoin{
    @apply mr-2;
    width: 30px;
    height: 30px;
}   

.headUserNameBlock{
    @apply text-2xl font-bold flex items-center
}
.headUserName{
    @apply flex
}
.headUserNameImg{
    @apply mr-3;
}
.userSubTitle{
    @apply font-mono text-xl justify-end flex
}
.userIcon{
    width: 75px;
    height: 70px; 
    @apply items-center ml-3 bg-white p-2;
    border-radius: 50%;
}

// 
.homeTitle{
    @apply text-4xl font-medium mb-2
}
.homeSubTitle{
    color: #00000098;
    @apply text-xl mb-12
}


// 
.learnLinkBlock {
    @apply flex justify-around mb-16;
}
.linkBlock {
    @apply relative drop-shadow-2xl 
}



.linkBlockImg {
    padding: 5px;
    width: 300px;
    height: 100%;
    border-radius: 25px;
}
.linkExcersise {
    @apply absolute bottom-5 right-5 text-3xl font-medium text-gray-500 rounded-2xl  ;
    background-color: #ffd18bd1;
    padding: 5px;
}
// 

.recomendedBlock{
    background-color: aquamarine;
    @apply rounded-xl p-5 flex items-center
}
.recomendedIcon{
    width: 75px;
    margin-right: 50px;
}
.recomendedTitle{
    @apply text-2xl text-black font-medium
}
// -------------HOME-PAGE END -------------------

// ---------PROFILE PAGE START-------------

.profilePageBlock{
    max-width: 1200px;
    @apply mx-auto px-5 bg-slate-200 rounded-xl
}

.profilePageTitleBlock{
    @apply flex justify-between items-center; 
    border-bottom: #cecece solid 2px;
}
.profileTitle{
    @apply text-slate-600 text-xl font-medium bg-slate-200;
}
.profileRatingIcon{
    @apply pt-3
}

.profileStatsinfo{
    @apply flex justify-center mt-10
}
.profileIcon{
    @apply mr-10 mb-5 ;
}
.profileStatTitle{
    @apply text-2xl font-medium mb-12
}
.profileStatSubTitle{
    @apply text-xl text-slate-600
}
.profileStatSubTitle2{
    @apply text-2xl text-slate-800 font-medium
}
.profileProgresLineBlock {
    position: relative;
}

.profileProgresLineBlock img {
    position: absolute;
    right: -10px; 
    bottom: -10px; 
}

.profileMetrikaTitle{
    @apply flex justify-center text-3xl font-medium mb-20
}
.profileOtherBlock{
    @apply flex items-center
}
.informationIcon{
    @apply mr-2
}
// ---------PROFILE PAGE END-------------


// ------------- QUIZ - PAGE START---------
.topImage{
    max-width: 1190px;
    @apply mx-auto px-10
}
.quizPageBlock{
    max-width: 1190px;
    @apply mx-auto px-5 mb-5 bg-blue-200 rounded-xl shadow-xl;
}
.quizTitleBlock{
    @apply text-3xl font-medium   items-center border-b-4 py-3
}

.quizTitle{
    @apply  flex justify-center  py-5 text-rose-400
}


.quizPageSubtitleIconBlock{
    @apply flex justify-between pt-5
}
.pageSubtitleIcon{
    width: 220px;
    height: 150px
}
.quizFooterBlock{
    @apply flex items-center justify-between flex;
}
.footerBlock{
}
.quizFooterLinkBlock {
  @apply text-6xl py-3 pb-4 p-1 items-center;
  border: 4px solid antiquewhite;
  border-radius: 50%;
  color: antiquewhite;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 209, 139, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 20px 20px rgba(255, 209, 139, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 209, 139, 0);
  }
}
.quizFooterLink{
    color: #FFD18B;
}
.quizPageContentBlock {
  @apply text-center mt-10 px-5 text-7xl font-bold drop-shadow-2xl; 
  background: linear-gradient(to bottom, #5858c3 0%, #4B0082 25%, #8A2BE2 50%, #c52675 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.quizPageContentBlock span {
  text-shadow: 
    -1px -1px 0 rgba(198, 79, 253, 0.566),
    1px -3px 0 rgb(45, 187, 209),
    -1px 1px 0 #00f,
    2px -1px 0 rgb(11, 241, 72),
}
.quizContentSubTitle{
    font-size: 85px;
    line-height: 1;
}
.quizContentSubTitle2{
    font-size: 95px;
    line-height: 1;
}
// ---------quizeTestPageBlock---------
.quizeTestPageBlock{
    max-width: 1230px;
    @apply mx-auto mt-5 px-5 
}
.quizeTestLink{
    top: 50%;
    left: 45%;
    @apply absolute bg-blue-300 px-10 py-2 rounded-lg
}

@media (max-width: 620px) {
    .quizeTestLink{
    top: 50%;
    left: 37%;
}
}
@media (max-width: 420px) {
    .quizeTestLink{
    top: 50%;
    left: 34%;
}
}
// ----------feedbackPageBlock--------
.wrapperFeedback{
    background-size: 100%;
   
    background: rgb(82,181,124);
    background: radial-gradient(circle, rgba(82,181,124,1) 0%, rgba(38,147,111,1) 53%, rgba(107,170,123,1) 100%);
    padding: 80px 0;
}
.feedbackPageBlock{
    width: 800px;
    height: 100%;
    @apply  mx-auto text-3xl font-medium px-5 pb-10 bg-slate-200 pt-10  rounded-2xl flex justify-center
}



.feedbackFromTitle{
    @apply text-gray-500 
}
.feedbackBlock{
    @apply  pb-10
}
.feedbackTitle{
    @apply flex justify-center
}
.formBlock{
    @apply  text-xl
}
.feedbackInput,
.feedbackInputMessage{
    @apply px-2 ml-4 rounded-xl py-2;
    width: 400px;
}
.feedbackInputMessage{
    height: 200px; 
    resize: vertical; 
}
.formSubmit{
    @apply flex justify-center mt-10
}
.formSubmitBtn{
    @apply text-white bg-green-600 px-8 pt-2 pb-3 rounded-2xl
}

// -------diagramaComponenntBlock---------
.diagramaComponenntBlock{
    @apply flex justify-center
}

// ----------wrapperRecomendedPage---------
.wrapperRecomendedPage {
  background-image: url('../../public/RecomendedPage/RecomendedPage.png');
  background-size: cover; /* Change to cover */
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}


.recomendedSpoilerIconBlock{
    @apply flex justify-center
}
.spoilerIcon{
    @apply bg-slate-200 rounded-2xl my-32;
    width: 100%;
}
.recomendedPageBlock{
    max-width: 1230px;
    @apply mx-auto py-60
}
.recommendedLinkBlock{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
@media (max-width: 715px) {
    .recommendedLinkBlock{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
    .recommendedLink{
        @apply flex justify-center mb-10;
    }
}
.recommendedLink{
    @apply flex items-center  justify-center px-10 py-2 m-10 rounded-2xl;
    background-color: rgba(0, 0, 255, 0.244);
}
.recommendedLink:hover{
    @apply flex items-center  px-14 py-2 rounded-2xl ;
    background-color: rgba(0, 0, 255, 0.466); 
    transition: 0.3s;
}

.circleIconTitle{
    @apply text-3xl  font-mono ml-4 text-white
}

// ----------wrapperRecomendedPage-----

.recomendedCircle{
    @apply  mt-10 text-4xl font-mono
}
.recomendedCircleTitleBlock,
.recomendedCircleButtonBlock{
    @apply flex justify-center mb-10 
}
.recomendedCircleTitle{
    @apply text-7xl font-bold mb-10;
    background-color: rgba(255, 255, 255, 0.393);
}
.circleTitle{
    @apply my-10 text-5xl font-bold;
    background-color: rgba(255, 255, 255, 0.393);
}
.recomendedCircleBlock{
    @apply  flex justify-around
}
.recomendedCircleButtonBlock{
    @apply items-center flex justify-center;
}
.recomendedCircleButton {
    border: solid 10px rgba(137, 43, 226, 0.496);
    border-radius: 50%;
    width: 300px;
    height: 300px;    
}

.recomendedCircleSubTitleBlock{
    margin-bottom: 20px;
}
.recomendedCircleSubTitle{
    background-color: rgba(255, 255, 255, 0.393);
}
.recomendedCircleButtonSquare {
  border: solid 10px rgba(137, 43, 226, 0.496);
  border-radius: 0; 
  width: 300px;
  height: 300px;
}

.recomendedCircleButtonRectangle {
  border: solid 10px rgba(137, 43, 226, 0.496);
  border-radius: 10px; 
  width: 400px; 
  height: 200px; 
}

// ------recomended radius------
.radiusBlockElement{
    @apply flex justify-around
}
.recomendedCircleParagrah{
    @apply mb-2
}
.radiusElement{
    width: 200px;
    background: #fff;
    border-radius: 50%;
}
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.circle::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px; 
  height: 100px;
  background-color: #000;
}

.circle2 {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.circle2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px; 
  height: 200px;
  background-color: #000;
}
// --------canvas----------
.canvasBlock{
    @apply flex justify-center px-2 
}
.canvas{
    @apply bg-slate-100 w-full;
    height: 700px;
    border: solid 30px ;
    border-color: rgb(49,70,214);
}

// ------adaptation------
@media (max-width: 670px) {
    .headUserName,
    .profileStatTitle,
    .profileStatSubTitle2,
    .profileMetrikaTitle{
        @apply text-xl
    }
    .profileMetrikaTitle{
        @apply mt-3
    }
    .userSubTitle,
    .profileTitle{
        @apply text-base
    }
    .profileStatSubTitle,
    .profileStatSubTitle{
        @apply text-lg
    }
    .profileRatingIcon{
        width: 60px;
    }
}
@media (max-width: 550px) {
    .headUserName{
        font-size: 19px;
        line-height: 1.5rem /* 24px */
    }
    .userSubTitle{
        font-size: 16px;
        line-height: 1.5rem /* 24px */
    }
    .homeTitle{
    @apply text-2xl font-medium mb-2;
    }
    .homeSubTitle{
    @apply text-black mb-12 text-base;
    }
    .headCoinBlock{
        @apply text-base;
    }
}
@media (max-width: 500px) {

.linkExcersise,
.recomendedTitle{
    @apply text-xl;
}
}

@media (max-width: 350px) {
    .recomendedTitle{
    @apply text-lg;
}
.recomendedTitle{
    @apply text-base;
}
.linkExcersise {
    @apply absolute bottom-2 right-2  text-gray-500 rounded-2xl  ;
    background-color: #ffd18bd1;
    padding: 3px;
}
}